*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Roboto Slab", serif;
    background-color: rgb(224, 241, 255);
    background-color: #183B59;
    align-items: center;
    justify-content: center;
    color: rgb(255, 214, 102);
}



header{
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 10px;
}

#title{
    color: #ce75c6;
}

main{
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.class___list{
    list-style: disc;
    text-decoration: none;
    color: azure;
    color: red;
}

.class___list li a{
    color: rgb(173, 98, 0);
    text-decoration: none;
}

.class___list li a:hover{
    text-decoration: underline;
    color: brown;
}

.title_dw{
    padding-bottom: 30px;
    color: azure;
    font-size: 36px;
}


a{
    text-decoration: none;
}

img{
    border-radius: 50px 10px 50px 10px;
}

.content{
    margin-top: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.list{
    margin-right: 100px;
}

.sub___list{
    padding-top: 10px;
    list-style: circle;
    margin-left: 40px;
}

.details{
    padding-bottom: 20px ;
    list-style: none;
}

.list a{
    color: azure ;
}

.list a:hover{
    text-decoration: underline;
    color: coral;
    list-style: none;
}

.link___back{
    display: flex;
    justify-content: center;
}

.link___back button{
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    background-color: #327355;
    color: aliceblue;
    text-decoration: none;
    border-style: solid;
    border-right-style: dotted;
    cursor: pointer;
}
